

.containerHome{
    
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: #171718;
    
    row-gap: 0%;
    position: relative;
    
}

.homeItems{
    display: flex;
    width: 100%;
    
    margin-bottom: 10svh;
    padding: 32px;
    background-color: #171718;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
   
}



#firstItem{
    height: 105svh;
    width: 100%;
    
    margin-bottom: 10svh;
    background-repeat: no-repeat;
    background-position: center;
    
    position: relative;
    
    background-color: #171718;
    background-image: linear-gradient(
    to bottom, transparent, #171718 99.99%
  ), url("../../assets/images/chess_bg.jpg");
    
    z-index: 0;
    /* border-bottom-left-radius: 15vw;
    border-bottom-right-radius: 15vw; */
}




.flexRow{
    
    width: 100%;
    
    display: flex!important;
    flex-wrap: wrap!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    z-index: 2;
    
}

.btnRow{
    
    width: 100%;
    
    display: flex!important;
    flex-wrap: wrap!important;
    justify-content: center!important;
    align-items: flex-start!important;
    z-index: 3!important;
}

.welcomeContainer{
    
    
    display: flex;
    width: max(50vw, 20rem);
    
    flex-wrap: wrap;
    
    
    row-gap: 0.5rem;
    
    padding: 2rem;
    position: relative;
    
    
    
    
    background: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
  
    z-index: 3!important;
  
  
}



.welcomeBtns{
    height: fit-content;
    width: fit-content;
    
    font-size: 0.8rem!important;
    font-weight: bold!important;
    z-index: 3!important;
    
}

.tryBtn{
    
    font-size: 1rem!important;
    background-color: #424242!important;
    transition: all 1000ms;
    transform: scale(100%);
    z-index: 3!important;
    
}

.tryBtn:hover{
    background-color: #2bc2b5!important;
    filter: drop-shadow(0 0 30px #2bc2b5);
    transition: all 1000ms;
    transform: scale(110%);
    z-index: 3!important;
    
}

.welcomeText{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 0;
    
    
}
#welcomeHighLight{
    color: #2bc2b5;
    filter: drop-shadow(0 0 30px #2bc2b5);
    
    
    border-radius: 128px;
    font-weight: bold;
    
}

.welcomeSubText{
    overflow: hidden;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    width: fit-content;

}

#todoBanner{
    margin-bottom: 0;
    margin-top: 0;
    height: 45rem;
    justify-content: flex-end;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 20vw;
    row-gap: 15svh;
    background-color: #171718;
    background-image: linear-gradient(
    to bottom, transparent, #171718 99%
  ), url("../../assets/images/sound_wave.svg");
    
}
.todoLine{
    margin-bottom: 0;
    margin-top: 0;
    height: fit-content;
    width: 50%;
    display: flex;
    background-color: #171718;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20vw;
    
}

.todoLeft{
    width: 49%;
    display: flex;
    flex-direction: column;
    
}

.todoRight{
    width: 49%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}

.todoRightItem{
    
    height: 17rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #00293300;
    border-radius: 32px;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 2.5%;
    color: #ffffff;
    font-size: 1.2rem;  
    
    
    
}
.todoRightItem:nth-child(1){
    
    border: 2px solid #2bc2b5;
    box-shadow: 0 0 30px #2bc2b5;
    transition: box-shadow 0.3s ease-in-out;
}


.todoRightItem:nth-child(2){
    
    border: 2px solid #008b97;
    box-shadow: 0 0 30px #008b97;
    top: 31%;
}

.todoRightItem:nth-child(3){
    
    border: 2px solid mediumpurple;
    box-shadow: 0 0 30px mediumpurple;
    top: 59.5%;
}


.todoRightItem:nth-child(4){
    
    border: 2px solid #f72585;
    box-shadow: 0 0 30px #f72585;
    top: 88%;
}



.todoContent{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 2%;
    padding-right: 3rem;
    
}

.todoLeftItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.guidingLine{
    background-color: black;
    height: 25rem;
    width: 5px;
    margin-left: 13px;
    
}

#guidingLineStart{
    align-self: flex-start;
    height: 16rem;
    width: 5px;
    background: rgba(121, 250, 196, 0);
    background: linear-gradient(180deg, rgba(121, 250, 196, 0)80%, #2bc2b50c 99%);
    
}

#guidingLine1{
    background: #2bc2b500;
    background: linear-gradient(180deg, #2bc2b500 0%, #2bc2b5 40%);
    height: 9rem;
}

#icon1{
    color: #2bc2b5;
    filter: drop-shadow(0 0 30px #2bc2b5);
    
}

#rulesetHighLight{
    color: #2bc2b5;
    filter: drop-shadow(0 0 20px #2bc2b5);
    font-weight: bold;
}

#guidingLine2{
    background: rgb(43,194,181);
    background: linear-gradient(180deg, rgba(43,194,181,1) 0%, rgba(0,139,151,1) 50%);
}

#icon2{
    color: #008b97;
    filter: drop-shadow(0 0 30px #008b97);
    
}

#puzzleHighLight{
    color: #008b97;
    filter: drop-shadow(0 0 20px #008b97);
    font-weight: bold;
}
#guidingLine3{
    background: rgb(0,139,151);
    background: linear-gradient(180deg, rgba(0,139,151,1) 0%, #9370d8 50%);
}

#icon3{
    color: mediumpurple;
    filter: drop-shadow(0 0 30px mediumpurple);
    
}

#aiHighLight{
    color: mediumpurple;
    filter: drop-shadow(0 0 20px mediumpurple);
    font-weight: bold;
}


#guidingLine4{
    background: #9370d8;
    background: linear-gradient(180deg, mediumpurple 0%, #f72585 50%);
}

#icon4{
    color: #f72585;
    filter: drop-shadow(0 0 30px #f72585);
    
}
#cleanHighLight{
    color: #f72585;
    filter: drop-shadow(0 0 20px #f72585);
    font-weight: bold;
}

#lastItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    
    
    
   
    position: absolute;
    bottom: -15%;
}

#phoneText{
    transition-delay: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5px #ffffff);
}

#mailText{
    transition-delay: 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5px #ffffff);
}



.contactInfo{
    height: 80svh;
    width: 100%;
    background-color: #007082;
    
}






.homeItemTitleText{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 3rem;
    filter: drop-shadow(0 0 40px #f72585)!important;
}

.homeItemText{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2rem;
}

.picText{
    color: white;
    font-size: 1.6rem;
   
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1500ms;
    
}

.hidden2{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(+300%);
    transition: all 1000ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden3{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+20%);
    transition: all 1700ms;
    
}

.hidden4{
    opacity: 0;
    filter: blur(7px);
    transform: scale(90%);
    transition: all 1700ms;
    
}



.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    transform: translateY(0%);
    transform: scale(100%);
    
}
.contanctInfoText{
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: flex-end;
    align-items: flex-end;
}
.iconHomeTab{
    color: #ffffff;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    padding-right: 10px;
    
}


.iconHomeTab2{
    color: #ffffff;
    width: 2rem!important;
    height: 2rem!important;
    padding: 0;
    padding-right: 6px;
    transition: all 100ms;
}

.iconHomeTab2:hover{
    transform: scale(1.2)
    
}



.todo:nth-child(2){
    transition-delay: 200ms;
}
.todo:nth-child(3){
    transition-delay: 400ms;
}
.todo:nth-child(4){
    transition-delay: 600ms;
}

.todoWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.contactWrapper{
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    width: 90%;
    border-radius: 16px;
    background-color: transparent;
    
    box-shadow: 0 0 10px #f72585;
    margin-inline: 1rem;
}
.featuresWrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    padding: 32px;
    margin-bottom: 0;
    row-gap: 2rem;
    
    
    
}

.fBtn{
    height: fit-content;
    width: fit-content;
    align-self: center;
    background-color: #ffffff00!important;
    z-index: 1;
}



.current{
    color: #2bc2b5;
    
    
}


.picText:hover{
    color: #2bc2b5;
    
}



#previewMovesTxt{
    transition-delay: 100ms;
    
}

#previewMoveBtn{
    transition-delay: 100ms;
    
}

#castlingMoveTxt{
    transition-delay: 200ms;
}

#castlingMovebtn{
    transition-delay: 200ms;
}

#featuresBanner{
    
    
    height: 15svh;
    margin-bottom: 0;
    margin-top: 0svh;
    
}

.layeredWaves{
    
    
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    
}

.layeredWaves2{
    
    
    width: 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-size:cover;
    background-image:  url("../../assets/images/layered_waves2.svg");
    
}

.featuresCard{
    border-radius: 32px!important;
    background-color: #ffffff6c;
    transform-style: preserve-3d;
    box-shadow: 0 0 30px white;
    margin-left: min(6vw, 6rem);
    
    z-index: 1;
}

.featuresCardContent{
    padding: 24px!important;
    transform: translateZ(25px);
    transition: all 100ms;
    
}


.features{
    height: 550px;
    width: 550px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 1.5vw;
    background-color: #00718200;
}

#blob{
    background: linear-gradient(
        to right,
        #7fffd433,
        rgba(147, 112, 216, 0.2),
        #f7258533);
    height: 450px;
    aspect-ratio: 1;
    position: absolute;
    
    translate: -50% -50%;
    border-radius: 50%;
    filter: blur(100px);
    z-index: 0;
    transition: all 10s;
    animation: rotate 10s infinite; 
    animation-timing-function: ease-in-out;
    
}

#blob2{
    height: 600px;
    aspect-ratio: 1;
    position: absolute;
    background-image: url("../../assets/images/blobanimation.svg");
    z-index: 0;
    translate: -50% -50%;
    border-radius: 50%;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

@keyframes rotate{
    from{
        
        rotate: 0deg;
    }
    
    
     
    to{
        
        rotate: 360deg;
    }
}
@media (max-height: 850px) {
    .features{
        height: 350px;
        width: 350px;
    }
}