.tile {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}

.black-tile {
    background-color: #014779;
}

.white-tile {
    background-color: #f0fafd;
}



.tile .chessPiece{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    
}

.tile .chessPiece:hover{
    cursor: grab;
}

.tile .chessPiece:active{
    cursor: grabbing;
}

.tile-mark:not(.piece-tile):before{
    content: " ";
    width: 100px;
    height: 100px;
    background-color: rgba(45, 255, 97, 0.3) ;
    position: fixed;
}


.tile-mark.piece-tile::before{
    content: " ";
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.3) ;
    position: fixed;
} 



 @media  screen and (min-width: 1280px) and (max-width: 1400px) {
    .tile {
        display: grid;
        place-content: center;
        width: 60px;
        height: 60px;
    }

    .tile .chessPiece{
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
        
    }

    .tile-mark:not(.piece-tile):before{
        content: " ";
        width: 60px;
        height: 60px;
        background-color: rgba(45, 255, 97, 0.3) ;
        position: fixed;
    }
    
    
    .tile-mark.piece-tile::before{
        content: " ";
        width: 60px;
        height: 60px;
        background-color: rgba(255, 0, 0, 0.3) ;
        position: fixed;
    } 
} 



@media  screen and (min-width: 1440px) and (max-width: 1870px) {
    .tile {
        display: grid;
        place-content: center;
        width: 80px;
        height: 80px;
    }

    .tile .chessPiece{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        
    }

    .tile-mark:not(.piece-tile):before{
        content: " ";
        width: 80px;
        height: 80px;
        background-color: rgba(45, 255, 97, 0.3) ;
        position: fixed;
    }
    
    
    .tile-mark.piece-tile::before{
        content: " ";
        width: 80px;
        height: 80px;
        background-color: rgba(255, 0, 0, 0.3) ;
        position: fixed;
    } 
}