.tile {
    display: grid;
    place-content: center;
    width: min(5vw, 10vh);
    height: min(5vw, 10vh);
    position: relative;
}

.black-tile {
    background-color: #b58863;
    
}

.white-tile {
    background-color: #f0d9b5;
    
}

.tile:nth-child(1){
    
    border-top-left-radius: 8px;
    
    
}

.tile:nth-child(8){
    
    border-top-right-radius: 8px;
}
.tile:nth-child(57){
    
    border-bottom-left-radius: 8px;
}

.tile:nth-child(64){
    
    border-bottom-right-radius: 8px;
}

.tile .chessPiece{
    width: min(5vw, 10vh);
    height: min(5vw, 10vh);
    background-repeat: no-repeat;
    background-position: center;
    background-size:min(3.75vw, 8vh);
    
    
    
}

.tile .chessPiece:hover{
    cursor:pointer
}

.moving{
    transition: all 1000ms ;
}

.tile-mark:not(.piece-tile):before{
    content: "";
    width: min(5vw, 10vh);
    height: min(5vw, 10vh);
    background-color: #79fac4b2 ;
    position: fixed;
    cursor:pointer;
    
    
}

.selected{
    background-color: #00ff88bd;
}

.previousMove{
    background-color: yellow;
}
.tile-mark.piece-tile::before{
    content: "";
    width: min(5vw, 10vh);
    height: min(5vw, 10vh);
    
    position: fixed;
    cursor:pointer
    
} 


.tile-mark.piece-tile > .chessPiece{
    
    background-color: #ff595f ;
    
    cursor:pointer
    
} 


@media screen and (max-height: 1050px){

    .tile {
        display: grid;
        place-content: center;
        width: min(4vw, 8vh);
        height: min(4vw, 8vh);
        position: relative;
    }
    
    
    
    
    
    .tile .chessPiece{
        width: min(4vw, 8vh);
        height: min(4vw, 8vh);
        background-repeat: no-repeat;
        background-position: center;
        background-size:min(3vw, 7vh);
        
        
        
    }
    
    
    
    .tile-mark:not(.piece-tile):before{
        content: "";
        width: min(4vw, 8vh);
        height: min(4vw, 8vh);
        background-color: #79fac4b2 ;
        position: fixed;
        cursor:pointer;
        
        
    }
    
    
    .tile-mark.piece-tile::before{
        content: "";
        width: min(4vw, 8vh);
        height: min(4vw, 8vh);
        
        position: fixed;
        cursor:pointer
        
    } 
    
}



