.tile {
    display: grid;
    place-content: center;
    width: 5vw;
    height: 5vw;
    position: relative;
}

.black-tile {
    background-color: #b58863;
    
}

.white-tile {
    background-color: #f0d9b5;
    
}

.tile:nth-child(1){
    
    border-top-left-radius: 8px;
    
    
}

.tile:nth-child(8){
    
    border-top-right-radius: 8px;
}
.tile:nth-child(57){
    
    border-bottom-left-radius: 8px;
}

.tile:nth-child(64){
    
    border-bottom-right-radius: 8px;
}

.tile .chessPiece{
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.75vw;
    
    
    
}

.tile .chessPiece:hover{
    cursor:pointer
}

.moving{
    transition: all 1000ms ;
}

.tile-mark:not(.piece-tile):before{
    content: "";
    width: 5vw;
    height: 5vw;
    background-color: #79fac4b2 ;
    position: fixed;
    cursor:pointer;
    
    
}

.selected{
    background-color: #00ff88bd;
}

.previousMove{
    background-color: yellow;
}
.tile-mark.piece-tile::before{
    content: "";
    width: 5vw;
    height: 5vw;
    
    position: fixed;
    cursor:pointer
    
} 


.tile-mark.piece-tile > .chessPiece{
    
    background-color: #ff595f ;
    
    cursor:pointer
    
} 



