.MyAppBar{
    display: flex!important;
    width: 100%;
    height: fit-content;
    background-color: #00122000;
    
    padding-left: 5%;
    padding-right: 5%;
    color: #ffffff;
    transform: translateY(0%);
    transition: all 1000ms;
    margin-top: 0px!important;
    
    
}

.MyAppBarChanged{
    display: flex!important;
    width: 100%;
    height: fit-content;
    background-color: #171718;
    padding-left: 5%;
    padding-right: 5%;
    color: #ffffff;
    transform: translateY(-10%);
    transition: all 1000ms;
    margin-top: 0px!important;
    
}


#StickyAppBar{
    position: static;
    transition: all 1000ms;
}

#FixedAppBar{
    position: fixed;
    transition: all 1000ms;
}

.container{
    background-color: #00335700;
    height: 100%;
}

.toolBar{
    padding: 0px!important;
    display: flex;
    align-items: center!important;
}
.appBarBtn{
    font-weight: bold;
    margin-right: 5px;
    font-size: 1.1rem;
    background-color: #42424200!important;
    transition: all 800ms;
}

.appBarBtn:hover{
    background-color: #42424200!important;
    color: #2bc2b5;
    
    transition: all 800ms;
}

.AppBarLinks{
    text-decoration: none;
    color: rgb(247, 247, 247);
    
}



.MainIcon{
    align-self: center;
    height: 30px;
    padding-right: 5px;
    color: #ffffff;
    transform: scaleX(-1);
    margin-right: 10px;
    transition: all 800ms;

}

.MainIcon:hover{
    color: #2bc2b5; 
    transition: all 800ms;
}

.AppTitle{
    font-weight: 900!important;
    font-size: large!important;
    letter-spacing: 0.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    transition: all 800ms;
    text-decoration: none;
    color: white; 
    align-self: center;
}
.AppTitle:hover {
    color: #2bc2b5; 
    transition: all 800ms;

    
}



.AppTitle:hover .MainIcon{
    color: #2bc2b5; 
    transition: all 800ms;

    
}

#menu-appbar{
    margin-top: 0!important;
    height: fit-content;
}

