.Chessboard {
    display: grid;
    grid-template-columns: repeat(8, 5vw);
    grid-template-rows: repeat(8, 5vw);
    
    
    position: relative;
    height: auto;
}

.FullBoard{
    display: grid;
    grid-template-columns: 2.5vw 40vw ;
    grid-template-rows: 40vw 2.5vw;
    position: relative;
}

.xAxis{
    display: grid;
    grid-template-columns: 2.5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
    grid-template-rows: 2.5vw;
    
    
    align-items: center;
    justify-items: center;
}

.yAxis{
    display: grid;
    grid-template-rows: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 2.5vw;
    grid-template-columns: 2.5vw;
    
    
    align-items: center;
    justify-items: center;
}

.axis{
    margin: 0;
    color: #2bc2b5;
    font-weight: bold;
    font-size: max(1rem, 1vw);
    
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

















