.AxisSheetX{
    width: 52rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0)!important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
   
}

.axisX{
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: flex-start;
    
    color: #79fac5;
    
    width: 6rem;

}

.axisXFiller{
    width:0rem!important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }






