.AxisSheetX{
    width: 830px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0)!important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
   
}

.axisX{
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0.5rem;
    color: #79fac5;
    
    height: 100%;
    width: 100px;

}

.axisXFiller{
    width: 30px!important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


@media  screen and (min-width: 1280px) and (max-width: 1400px) {
    
    .AxisSheetX{
        width: 495px;
        height: 15px;
        background-color: rgba(255, 255, 255, 0)!important;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        
       
    }
    .axisX{
        display: flex;
        font-weight: bold;
        font-size: 0.8rem;
        
        
        
        
        height: 100%;
        width: 60px;
    
    }
    
    .axisXFiller{
        
        width: 15px!important;
    }
} 


@media  screen and (min-width: 1440px) and (max-width: 1870px) {
    
    .AxisSheetX{
        width: 670px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0)!important;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        
       
    }
    .axisX{
        display: flex;
        font-weight: bold;
        font-size: 1rem;
       
        
        
        
        height: 100%;
        width: 80px;
    
    }
    
    .axisXFiller{
        
        width: 30px!important;
    }
}
