.AxisSheetY{
    width: 80px;
    height: auto;
    background-color: rgba(255, 255, 255, 0)!important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    
   
}

.axisY{
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    justify-content: flex-end;
    align-items: center;
    
    color: #79fac5;
    padding-right: 0.5rem;
    height: 80px;
    

}



@media  screen and (max-width: 1280px) {
    .AxisSheetY{
        width: 60px;
        height: auto;
        background-color: rgba(255, 255, 255, 0)!important;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        
       
    }
    
    .axisY{
        display: flex;
        font-weight: bold;
        font-size: 1rem;
        justify-content: flex-end;
        align-items: center;
        
        
        
        height: 60px;
        width: 60px;
    
    }
}

