.MainPage{
    
    display: flex;
    background-color: #171718;
    width: 100%;
    padding-inline: min(2vw, 5rem);
    height: 90%;
    column-gap: min(2vw, 5rem);
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    
    overflow: hidden;
   
}

.gameContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.Stats{
    
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2fr 2fr 2fr;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 16px;
    
    
    width: min(30rem, 40vw);
    max-height: min(40vw, 80vh);
    background-color: #002933;
    
}

.StatsRight{
    
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    
    
    
    
}



.dialogContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Board{
    
    box-shadow: inset 0px 0px 0px #000000
    
}
.dialogContContainer{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.turnIndicator{
    display: flex;
    justify-content: center;
    width: 100%;
}


@media screen and (max-height: 1050px){

    .MainPage{
    
        display: flex;
        background-color: #171718;
        width: 100%;
        padding-inline: min(2vw, 5rem);
        
        column-gap: min(2vw, 5rem);
       flex-wrap: wrap;
       justify-content: space-evenly;
        
        overflow: hidden;
       
    }
    
    .Stats{
        
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 2fr 2fr 2fr;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 16px;
        
        
        width: min(30rem, 32vw);
        max-height: min(32vw, 64vh);
        background-color: #002933;
        
    }
    
}

@media (max-aspect-ratio: 3/2) {
    .gameContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1vh;
        height: 90%;
    }
  }













