.MainPage{
    
    display: flex;
    background-color: #171718;
    width: 100%;
    padding-inline: min(2vw, 5rem);
    
    column-gap: min(2vw, 5rem);
   flex-wrap: wrap;
   justify-content: space-evenly;
    margin-top: min(2vh, 1rem);
   
   
}

.Stats{
    
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2fr 2fr 2fr;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 16px;
    
    
    width: min(30rem, 40vw);
    max-height: 40vw;
    background-color: #002933;
    
}

.StatsRight{
    
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    
    
    
    
}



.dialogContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Board{
    
    box-shadow: inset 0px 0px 0px #000000
    
}
.dialogContContainer{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.turnIndicator{
    display: flex;
    justify-content: center;
    width: 100%;
}















