
  .statsCard{
    border-radius: 0px!important;
    height: 30vh;
    display: flex;
  }

  .pieceContainer{
    display: grid;
    grid-auto-flow: column;
  }

 

  .capturedChessPiece{
    width: 20px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }

  .timerCard{
    width: 150px;
    height: 40px;
  }

  .timerGrid{
    display: flex;
    margin-top: 10px;
    padding-bottom: 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .timerGrid2{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
  }

  .timerSpan{
    align-items: center;
  }
  .timerCardCont{
    display: flex;
    align-content: center;
    justify-content: end;
    align-items: center;
    width: 150px;
    height: 40px;
   
    padding: 0 !important;
  }

  .timerCard::before{
    background-color: rgba(180, 180, 180, 0.712);
    
  }

  p {
    margin-bottom: 0px !important;
    margin: 0px;
    align-items: center;
  }
  
  p.MuiTypography-root.MuiTypography-body1.css-1lvrlpq-MuiTypography-root {
    display: flex;
    align-items: center;
    margin: 0px;
    margin-right: 10px;
  }

  .piecesGrid{
    display: flex;
    align-content: center;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    height: 40px;
    position: relative;
  }

  .CapturedPiece {
    width: 20px;
    height: 30px;
  }

  .pointContainer{
    margin-left: 5px;
  }

  .statsGrid{
    height: 100%;
    width: 100%;
    padding: 16px;
    align-self: center;
  }

  .profileGrid{
    margin-bottom: 10px;
    
    align-items: center;
    align-content: center;
    display: flex;
  }

  .profileItem{
    display: flex;
    margin-left: 10px;
    height: 40px;
    align-items: center;
  }

  .iconGrid{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    
    
    position: relative;
  }

  .forfeitBtn:hover{
    background-color: rgba(255, 118, 118, 0.274)!important;
  }

  .forfeitBtn{
    height: 40px;
    width: 40px;
  }

  .drawBtn{
    height: 40px;
    width: 40px;
  }

  .drawBtn:hover{
    background-color: rgba(118, 182, 255, 0.274)!important;
  }

  .gameStats {
    width: 23vw;
    
    display: flex;
    flex-direction: column;
    
    row-gap: 20px;
    
  
  }
  
  
  
  .startGameBtn:hover {
    background-color: rgb(48, 255, 100) !important;
  }
  
  .startGameBtnGrid {
    display: flex;
    margin-top: 5vh;
    
    justify-content: center;
    align-content: flex-end;
  }

  .profileTxt{
    font-weight: 600!important;
    font-size: large!important;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    height: fit-content;
  }

  

  