.gameStatsAlt {
  display: flex;

  flex-direction: column;
  padding: 2rem;
  
  
  background-color: #00000025;
  justify-content: center;
  
  
  row-gap: 1.2rem;
  
  


}



#cardTurn{
  background: #00000000!important;
  
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  visibility: hidden;
  align-self: center;
  align-items: center;
}

#cardTurnVisible{
  background: #00000000!important;
  
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  visibility: visible;
  
  align-items: center;
}



.turnIndicatorTop{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turnIndicatorWhite{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0fafd;
}

.turnIndicatorBlack{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #014779;
  
}

.txtBlack{
  color: white;
}
#cardTurnVisible{
  padding: 0;
  border-radius: 0px;
}

#turnIndicatorTxt{
  font-weight: bold;
}



.startGameBtnFalse {
  font-weight: bold !important;
  background-color: #424242!important;
  transition: all 500ms;
  width: 7rem;
  font-size: max(1rem, 0.8vw)!important;
  
}

.startGameBtnFalse:hover {
  background-color: #79fac5!important;
  color: black;
    transition: all 500ms;
}



.startGameBtnTrue {
  font-weight: bold !important;
  background-color: #bd1a1a !important;
  width: 7rem;
  font-size: max(1rem, 0.8vw)!important;
  
  
}

.startGameBtnTrue:hover {
  background-color: #ff6a6a !important;
}






.setTimeBtn {
  font-weight: bold !important;
  background-color: #008b97 !important;
  font-size: max(1rem, 0.8vw)!important;
  width: 7rem;
}

.setTimeBtn:hover{
  background-color: #00c6d8!important;
}




.startGameBtnGrid {
  display: flex;
  
  
  justify-content: center;
  align-content: center;
  column-gap: 1rem;
}













.toolTipStartGame{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  font-size: larger;
}

 .MuiSlider-thumb{
  color: #79fac5;
}
.MuiSlider-rail{
  color:#9fffd7;
}
.MuiSlider-track{
  color: #79fac5;
} 

.MuiSlider-markLabel{
  font-weight: bold!important;
  font-size: max(1rem, 0.8vw)!important;
  color: white!important;
}

.sliderTimer{
  width: 80%!important;
  align-self: center;
}


@media screen and (max-height: 720px){
  .gameStatsAlt {
    display: flex;
  
    flex-direction: column;
    padding: 1.5rem;
    
    
    background-color: #00000025;
    justify-content: center;
    
    
    row-gap: 1rem;
  }
  
  
  
  #cardTurn{
    background: #00000000!important;
    width: 100%;
    padding: 1.2srem;
    display: flex;
    justify-content: center;
    visibility: hidden;
    align-self: center;
    align-items: center;
  }
  
  #cardTurnVisible{
    background: #00000000!important;
    
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    visibility: visible;
    
    align-items: center;
  }
  

  .startGameBtnFalse {
    font-weight: bold !important;
    background-color: #424242!important;
    transition: all 500ms;
    width: 6rem;
    font-size: max(1rem, 0.8vw)!important;
    
  }
  
 
  
  
  .startGameBtnTrue {
    font-weight: bold !important;
    background-color: #bd1a1a !important;
    width: 6rem;
    font-size: max(1rem, 0.8vw)!important;
    
    
  }
  
  
  
  
  
  .setTimeBtn {
    font-weight: bold !important;
    background-color: #008b97 !important;
    font-size: max(1rem, 0.8vw)!important;
    width: 6rem;
  }
  
  
  
  
  .startGameBtnGrid {
    display: flex;
    
    
    justify-content: center;
    align-content: center;
    column-gap: 1rem;
  }
 
  .MuiSlider-markLabel{
    font-weight: bold!important;
    font-size: max(0.9rem, 0.8vw)!important;
    color: white!important;
  }
  
  .sliderTimer{
    width: 80%!important;
    align-self: center;
  }
}
