
  .statsCard{
    border-radius: 16px!important;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  .pieceContainer{
    display: grid;
    grid-auto-flow: column;
  }

 

  .capturedChessPiece{
    width: 20px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }

  .timerGrid2{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timerSpan{
    align-items: center;
  }
  .timerCardCont{
    display: flex;
    
   
    padding: 0 !important;
  }

  .timerCard{
    width: fit-content;
    align-self: center;
  }

  .timerCard::before{
    background-color: rgba(180, 180, 180, 0.712);
    
  }

  
  
  
  .piecesGrid{
    display: flex;
    align-content: center;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    height: 40px;
    position: relative;
  }

  .CapturedPiece {
    width: 20px;
    height: 30px;
  }

  .pointContainer{
    margin-left: 5px;
    font-size: 1rem;
  }

  .statsGrid{
    height: 100%;
    width: 100%;
    padding: 16px;
    align-self: center;
  }

  

  

  

 

  .gameStats {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
  
  }


  @media  screen and (max-width: 1280px) {
    .statsCard{
      border-radius: 16px!important;
      width: 250px;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
    }
    
    .piecesGrid{
      display: flex;
      align-content: center;
      justify-content: start;
      align-items: center;
      margin-left: 10px;
      height: 30px;
      position: relative;
    }
  
    .CapturedPiece {
      width: 12px;
      height: 20px;
    }

    .capturedChessPiece{
      width: 12px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 17px;
    }

    .pointContainer{
      margin-left: 3px;
      font-size: 0.9rem;
    
    }
}
  
  
  
  

  

  